/.idea
/04_Testing/02_Testing_handlers/venv/
/04_Testing/02_Testing_handlers/settings.yml
/04_Testing/02_Testing_handlers/.pytest_cache
/04_Testing/03_Testing_FSM/venv/
/04_Testing/03_Testing_FSM/settings.yml
/04_Testing/03_Testing_FSM/.pytest_cache
/04_Testing/04_Testing_DB/venv/
/04_Testing/04_Testing_DB/settings.yml
/04_Testing/04_Testing_DB/.pytest_cache
/08_Databases/01-sqlalchemy-core/docker-compose.yml
/08_Databases/01-sqlalchemy-core/config.yml
/08_Databases/01-sqlalchemy-core/venv/
/08_Databases/02-sqlalchemy-orm/config.yml
/08_Databases/02-sqlalchemy-orm/venv/
/08_Databases/03-alembic/before_alembic/config.yml
